Java/Get_Jsons/country.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
			 xmlns:ns="http://siq.ibm.com/ws" 
			 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
			 xmlns:odex="http://www.apache.org/ode/type/extension/http"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			 targetNamespace="http://siq.ibm.com/ws">
    <!-- types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://siq.ibm.com/ws">
            <xs:element name="request" type="xs:anyType"/>
			<xs:element name="writeResponse" type="ns:WriteResponse"/>
            <xs:complexType name="WriteResponse">
                <xs:sequence>
                    <xs:any processContents="skip" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="rowsAffected" type="xs:int" use="required"/>
            </xs:complexType>
            <xs:element name="resId" type="ns:resourceId"/>
            <xs:complexType name="resourceId">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
				</xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types-->
    <!-- message name="createRequest">
        <part name="create_request" element="ns:request"/>
    </message>
    <message name="createResponse">
        <part name="create_response" element="ns:writeResponse"/>
    </message-->
    <message name="getRequest">
        <part name="resId" type="xs:string"/>
    </message>
    <message name="getResponse">
        <part name="get_response" type="xs:string"/>
    </message>
    <!-- message name="queryRequest">
        <part name="_limit" type="xs:int"/>
        <part name="_offset" type="xs:int"/>
        <part name="country" element="xs:string"/>
    </message>
    <message name="queryResponse">
        <part name="query_response" element="ns:writeResponse"/>
    </message-->
    <!-- portType name="CPortType">
        <operation name="Create">
            <input message="ns:createRequest"/>
            <output message="ns:createResponse"/>
        </operation>
    </portType-->
    <portType name="GPortType">
        <operation name="Get">
            <input message="ns:getRequest"/>
            <output message="ns:getResponse"/>
        </operation>
    </portType>
    <!-- portType name="QPortType">
        <operation name="Query">
            <input message="ns:queryRequest"/>
            <output message="ns:queryResponse"/>
        </operation>
    </portType-->
    <!-- binding name="CServicePortBinding" type="ns:CPortType">
		<http:binding verb="POST"/>
        <operation name="Create">
            <http:operation location="Country"/>
            <input>
                <mime:content type="text/xml" part="create_request"/>
            </input>
            <output>
                <mime:content type="text/xml" part="create_response"/>
            </output>
        </operation>
    </binding-->
    <binding name="GServicePortBinding" type="ns:GPortType">
		<http:binding verb="GET"/>
        <operation name="Get">
            <http:operation location="Country/(resId)"/>
            <input>
                <http:urlReplacement/>
            </input>
            <output>
                <mime:content type="application/json" part="get_response"/>
            </output>
        </operation>
    </binding>
    <!-- binding name="QServicePortBinding" type="ns:QPortType">
		<http:binding verb="GET"/>
		<operation name="Query">
            <http:operation location="Country"/>
            <input>
				<http:urlEncoded/>
            </input>
            <output>
                <mime:content type="text/xml" part="query_response"/>
            </output>
        </operation>
    </binding-->
    <service name="ResService">
        <!-- port name="CServicePort" binding="ns:CServicePortBinding">
            <http:address location="http://localhost:8080/restsql/res/"/>
        </port-->
        <port name="GServicePort" binding="ns:GServicePortBinding">
            <http:address location="http://localhost:8080/restsql/res/"/>
        </port>
        <!-- port name="QServicePort" binding="ns:QServicePortBinding">
            <http:address location="http://localhost:8080/restsql/res/"/>
        </port-->
    </service>
</definitions>
